header {
    background-color: #003352;
    border-bottom: 1px rgba(1, 24, 74, 0.286) solid;
    border-bottom-width:0.06cm;
    margin: -10px;
}

h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.botondecostado {
    padding: 0px 0px 0px -10px;
    border: none;
    cursor: pointer;
    font-style:unset;
    background: none;
    color: rgb(84, 84, 251);
    transition: .5s ease;
}

.botondecostado:hover {
    color: aqua;
    text-decoration: underline;
}

.dividiendo {
    display: flex;
    justify-content: space-between;
}

.momento {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 5px 20px;
}

body {
    background-color: #023657;
    color: #fff;
    padding: 0;
    margin: 0;
}

.BotonDelHeader {
    transition: background-color 0.5s ease;
    color: #fff;
    border: 2px white solid;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

.BotonDelHeader:hover {
    color: #001F3F;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border: 2px white solid;
}

.progresos {
    display: flex;
    justify-content: space-evenly;
}

.materias {
    display: flex;
    justify-content: space-evenly;
}

.materia {
    border: 1px rgb(9, 7, 59) solid;
    border-radius: 15px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 250px;
    height: 350px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.divimagen {
    flex: 1;
}

.progreso {
    border: 1px rgb(95, 95, 95) solid;
    border-radius: 10px;
    padding: 0px 100px 0px 10px;
}

.contenido {
    padding: 60px 410px 200px 300px;
    flex-grow: 1;
}

.Logo {
    max-width: 0%;
    padding: 0px;
    margin: 0;
}

.abajodetodo {
    padding: 0%;
}

.abajodefoto {
    background-color: #04578b;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 30px;
}

#cuvi {
    width: 100px;
    height: auto;
}

.abajo {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.abajo>* {
    margin-top: auto;
}

.imagendecurso {
    height: 6.5cm;
    width: 6.5cm;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 0px 0px 0px 00px;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
}

footer {
    background-color: #181818;
    color: #fff;
    text-align: center;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: none;
}

.abajodefoto h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.abajo h4 {
    margin: 0;
    padding: 0;
}
