header {
    background-color: #003352;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.cupon {
    margin: 10px 160px 30px 40px;
}

#cuvi {
    width: 100px;
    height: 35px;
}

main {
    background-size:cover;
    background-position: center;
    background-color: #003352;
    
}

form {
    padding: 0px 0px 0px 100px;
    margin-top: 70px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    margin-bottom: -40px;
}

.inscripcioncolumnas {
    display: flex;
}

.ingresatusdatos {
    margin-top: 30px;
}

.MenuContenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.inscripcioncolumnas {
    padding: 0px 0px 100px 300px;
    justify-content: center;
}

.columna1 {
    display: column;
    padding: 0px 200px 0px 0px;
}

.inscripcionnav {
    display: flex;
    padding: 10px 0px 0px 0px;
    justify-content: flex-start;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inscripcionnav div {
    margin-right: 20px;
    white-space: nowrap;
  }
  
  .inscripcionnav div:last-child {
    margin-right: 0;
  }

.nombredatos {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nombredatos label {
    margin-bottom: 5px;
}

.apellidodatos {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.apellidodatos label {
    margin-bottom: 5px;
}

.documentodatos {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.documentodatos label {
    margin-bottom: 5px;
}

.telnormal {
    width: 131%;
    padding: 10px 0px 10px 10px;
    border: 2px solid rgb(168, 217, 120);
    background: #003352de;
    border-radius: 5px;
    color: rgb(168, 217, 120);
    outline: none;
    font-size: 16px; 
}

.condicion {
    padding-top: 3px;
    font-size: small;
}

.maildatos {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.maildatos label {
    margin-bottom: 5px;
}

.tel-block {
    margin-top: 15px;
    display: flex;
}

.terminosycondici {
    margin-top: 20px;
    display: flex;
}

.numtelefono {
    display: flex;
    padding: 0px 20px 0px 30px;
    flex-direction: column;
    align-items: flex-start;
}

.numtelefono label {
    margin-bottom: 5px;
}

.pais {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: flex-start;
}

.pais label {
    margin-bottom: 5px;
}

.preciototal {
    background-color: #00263d;
    color:rgb(168, 217, 120);
    padding: 0px 4px 4px 4px;
}

.precio div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.sitioprotegido {
    margin-top: 15px;
    font-size: small;
}

.precio .precio-valor {
    text-align: right;
}

.precio .descuento-valor {
    text-align: right;
}

.ref {
    color: rgb(52, 159, 225);
    text-decoration: none;
}

.ref:hover {
    cursor: pointer;
}

.normal {
    width: 73%;
    padding: 10px 0px 10px 10px;
    border: 2px solid rgb(168, 217, 120);
    background: #003352de;
    border-radius: 5px;
    color: rgb(168, 217, 120);
    outline: none;
    font-size: 16px; 
}

.botonesd {
    justify-content: space-between;
    margin-top: 15px;
    display: flex;
}

select {
    width: 100%;
    padding: 10px 0px 10px 10px;
    border: 2px solid rgb(168, 217, 120);
    background: #003352de;
    border-radius: 5px;
    color: rgb(168, 217, 120);
    outline: none;
    font-size: 16px; 
}

.confirmarfecha {
    padding: 10px 60px 0px 60px;
    color: #fff;
    margin-bottom: -10px;
    margin-top: -10px;
}

.elegirpago {
    padding: 10px 60px 0px 60px;
    color: #fff;
    margin-bottom: -10px;
    margin-top: -10px;
}

.cargardatos {
    background-color: #00263d;
    padding: 10px 60px 10px 60px;
    color: #fff;
    margin-bottom: -10px;
    margin-top: -10px;
}

.inscripcionnav div:not(:last-child) {
    margin-right: 10px;
}

.columna2 {
    display: column;
    padding: 40px 100px 0px 0px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #003352;
}

.procesodeinscripcion {
    background-color: #00263d;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    font-size: 120%;
}

.nombredelcurso {
    display: flex;
    justify-content: space-between;
}

.inscripcionbody {
    display: block;
    background-color: rgb(168, 217, 120);
    color: #00263d;
    margin-left: 50px;
    margin-right: 50px;
    padding: 1px 30px 30px 30px;
}

.inscripciondetalle {
    background-color: rgb(168, 217, 120);
    color: #00263d;
    padding: 10px 0px 5px 30px;
    border-bottom: 2px solid #00263d;
    margin-left: 50px;
    margin-right: 50px;
}

.incluyedetalles {
    margin-top: 50px;
    padding: 10px 0px 5px 30px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #00263d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.incluyebody {
    padding: 0px 0px 30px 20px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #143d57;
    border: 2px solid #00263d;
}

.incluyebody p {
    display: block;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background-color: #181818;
    padding: 0px;
    color: #fff;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 10px;
}

main {
    position: relative;
    padding: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .left, .right {
    flex-basis: 50%;
}

.Logo {
  display: flex;
  margin-bottom: 24px;
}

.textologo {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 14px;
}
  
  .center {
    flex-basis: 60%;
    text-align: center;
    font-size: 2rem;
    padding: 35px;
}
  
  .container img {
    width: 100%;
    margin-bottom: 10px;
}

.social-media {
    margin-bottom: 20px;
  }
  
  .social-link {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #67ec65;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    color: #000000;
    transition: background-color .5s ease;
}

.social-link:hover {
  background-color: #fff;
}
  
  .social-link i {
    font-size: 18px;
}
  
  .contact-info {
    font-size: 14px;
}

.Titulo span {
    color: rgb(241, 255, 225);
    font-weight: 300;
}

.Titulo {
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.Hero-content-subtitle {
    color: white;
    font-size: 1.2rem;
}

.mensaje {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
}


.lenguajes img {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    
}

.inputBox {
    position: relative;
    width: 250px;
    padding: 10px 195px 1px 195px;
    align-items: center;
    margin: auto;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(168, 217, 120);
    background: #003352de;
    border-radius: 5px;
    color: rgb(168, 217, 120);
    outline: none;
    font-size: 16px; 
}

img {
    border-radius: 4px;
    max-width: 100%;
    height: 40px;
    padding: 10px;
}

.cupon {
    transition: background-color .5s ease;
    color: rgb(168, 217, 120);
    border: 2px rgb(168, 217, 120) solid;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px 0px 10px 5px;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
}

.cupon {
    margin-top: -10px;
  }

.textologo {
    padding: 10px;
}

.cupon:hover{
    color: #001F3F;
    background-color: rgb(168, 217, 120);
    border: none;
    border: 2px rgb(168, 217, 120) solid;
    cursor:pointer;
}

.botondesubir {
    transition: background-color .5s ease;
    color: rgb(168, 217, 120);
    border: 2px rgb(168, 217, 120) solid;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px 10px 10px 10px;
    outline: none;
    cursor: pointer;
}

.botondesubir:hover {
    color: #001F3F;
    background-color: rgb(168, 217, 120);
    border: none;
    border: 2px rgb(168, 217, 120) solid;
    cursor:pointer;
}

.volverboton {
    transition: background-color .5s ease;
    color: rgb(168, 217, 120);
    border: 2px rgb(168, 217, 120) solid;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px 10px 10px 10px;
    outline: none;
    text-underline-offset: none;
    cursor: pointer;
    text-decoration: none;
}

.imagenes {
    display: flex;
    justify-content: center;
    filter: grayscale(100%) sepia(100%) hue-rotate(70deg);
    background-color: #1dd61a;
}

.imagen {
    display: inline;
}

.pythonimagen {
    padding: 0px 0px 0px 0px;
}

.fw600 {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.sitienescupon {
    margin-top: 20px;
    text-align: center;
}

.volverboton:hover{
    color: #001F3F;
    background-color: rgb(168, 217, 120);
    border: none;
    border: 2px rgb(168, 217, 120) solid;
    cursor:pointer;
    text-decoration: none;
}

header a {
    padding: 10px 50px 10px 50px;
    margin: 10px;
    border-radius: 10px;
    font-size: large;
}

a:hover {
    text-decoration: underline;
}

#HeaderV2 {
    background-color: #003352;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(5, 3, 55, 0.25);
    color: #fff;
    position: relative;
    z-index: 1; /* Asegúrate de que el encabezado tenga un índice z superior */
}

#HeaderV2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-bottom: 3px solid #011c2d8e;
    background: linear-gradient(to right, #003352, transparent);
    z-index: -1; /* Asegúrate de que el degradado esté detrás del contenido del encabezado */
}

.ClaseDelHeaderNav {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home {
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
}

.in-flex {
    flex: 1;
}

.in-flex:first-child {
    flex:2;
    padding: 25px;
    background-color: white;
}

@media (max-width: 768px) {
    /* Estilos para dispositivos móviles o pantallas pequeñas */
    header {
      padding: 10px;
    }
    
    #HeaderV2::after {
      display: none;
    }
    
    .center {
      border: none;
    }
    
    main {
      padding: 20px;
    }
    
    .inputBox {
      width: 100%;
      padding: 10px;
    }
    
    footer {
      padding: 10px;
    }
    
    .contact-info {
      display: none;
    }
    
    .social-media {
      margin-bottom: 20px;
    }

    .ClaseDelHeaderNav {
        justify-content: flex-start;
      }
      
      .MenuContenido,
      .ServiciosClase,
      .Sesion {
        display: none;
      }
      
      .Explore,
      .Contactanos {
        display: inline-block;
      }
      
      header a {
        padding: 10px 15px;
      }
    
}
